/* landing page start */
body{
    margin:0;
    padding:0; 
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size:50px;
}
h2{
    font-size:40px;
}
span{
    color:rgb(0, 60, 255);
}
.makeFlex{
    display:flex;
    margin:5% 5%;
}
.width50{
    width:50%;
}
 .landingImage{
    padding-left: 15%;
}
/* .landingText{
    margin: 10% 5%;
}  */
.HireBtn{
    display: inline-block;
    text-decoration:none;
    margin-top: 10px;
    color:rgb(255, 255, 255);    
    padding:10px 20px; 
    background-image: linear-gradient(rgb(0, 60, 255),rgb(119, 0, 255));
}
/* landing page end */
