/* landing page start */
body{
    margin:0;
    padding:0; 
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size:50px;
}
h2{
    font-size:35px;
}
span{
    color:rgb(0, 60, 255);
}
.makeFlex{
    display:flex;
    margin:0 5% 10% 5%;
}
.width50{
    width:50%;
}
 .landingImage{
    padding-left: 15%;
    
}
/* .landingText{
    margin: 10% 5%;
}  */
.backImage{
    position: absolute;
    right:5%;
    z-index: -1;
    width: 35%
}
.sideImage{
    position: absolute;
    left:-15%;
    top:-15%;
    z-index: -1;
    width:30%
}

.dreamImage{
    position: absolute;
    left:5%;
    z-index: -1;
    width: 35%
}
.HireBtn{
    display: inline-block;
    text-decoration:none;
    margin-top: 10px;
    color:rgb(255, 255, 255);    
    padding:10px 20px; 
    background-image: linear-gradient(rgb(0, 60, 255),rgb(119, 0, 255));
}
/* landing page end */
.Experience-items{
    box-shadow: 10px 10px 40px gray;
    width:40%;
    margin: 0 5% 0 5%;
    padding:25px;
    border-radius: 10px;
}
#exp-border-1{
    border-left:5px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice:1;
}
#exp-border-2{
    border-left:5px solid;
    border-image: linear-gradient(cyan,blue);
    border-image-slice:1;  
}
footer{
    text-align: center;
    margin-bottom:10px;
}